// 1. Generic Cards
// --------------------

// 1.0 Card base
.card {
  background-color: #fff;
  border: 1px solid $grey-border;
  border-bottom-color: darken($grey-border, 8);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.card-heading {
  position: relative;
  min-height: rem(58);
  padding: rem(18) rem(20) rem(24);

  @include user-select(none);
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    content: "";
    background-color: $body;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.05);
  }
}

.card-title {
  margin: 0;

  @include user-select(all);
}

.card-body {
  padding: rem(18) rem(20) rem(24);
}

.card-footer {
  padding: rem(10) rem(13) rem(10);
  background-color: $body;
  border-top: 1px solid $grey-border;
  border-radius: 0 0 2px 2px;
}
